.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #4d47ff07;
}
.btn-primary {
  background-color: #4e47ff;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
}
.btn-primary:hover {
  transform: scale(1.03);
  background-color: #9403fd;
  cursor: pointer;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 150px;
}
nav h3 {
  font-size: 32px;
  font-weight: 900;
  color: #4e47ff;
}
header {
  background-image: url(/Assets/Hero-bg.png);
  background-size: cover;
  padding-bottom: 50px;
  background-repeat: no-repeat;
}
/* banner */

.banner-content {
  margin: 100px;
  text-align: center;
  padding: 0 200px;
}
.banner-content h1 {
  font-size: 65px;
  font-weight: bold;
}

/* action-section */
.action-section {
  display: flex;
  gap: 300px;
  justify-content: space-between;
  margin: 120px 150px;
}
.action-section img {
  border-radius: 48px;
}
.action-title {
  font-size: 42px;
  font-weight: bold;
  color: #252432;
  margin-bottom: 23px;
}
.action-des {
  font-size: 24px;
  font-weight: normal;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}
/* user-section */
.user-section {
  margin: 0 150px;
  background-color: rgba(78, 71, 255, 0.1);
  padding: 80px 50px;
  border-radius: 24px;
}
.user-container {
  display: flex;
  justify-content: space-evenly;
  gap: 158px;
}
.user-description {
  text-align: center;
}

.user-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 38px;
  color: #252432;
  text-align: center;
  margin-bottom: 40px;
}
.user-number {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  margin: 0px 0px;
}
.user-detail {
  margin: 0px 0px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
